// SPDX-License-Identifier: 0BSD
// Written 2019 Lynn Kirby

.global-nav {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style: none;
  background: var(--global-nav-background, black);

  // This is changed in sanitize.css, so make it normal. Prevents text from
  // wrapping when it shouldn't.
  // TODO: Think about whether this should be changed globally. Seems like a
  // bad idea?
  word-break: normal;
}

.global-nav,
.global-nav a {
  font-family: var(--global-nav-font-family, $font-family-sans);
  font-size: var(--global-nav-font-size, 1rem);
  letter-spacing: 0.1em;
  text-decoration: none;
}

.global-nav-enabled {
  border-color: var(--global-nav-text-color, #cbcbcb) !important;
}

.global-nav-logo,
.global-nav-links a {
  display: flex;
  padding: 0;
  margin: 0 1em;
  line-height: 2.3em;
  border-top: 0.3em solid transparent;
  padding-bottom: 0.3em;
  text-transform: uppercase;
}

.global-nav-logo,
.global-nav-links a,
.global-nav-toggle {
  transition: 0.3s ease 0.05s;
  transition-property: border-color, color;
}

.global-nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

//******************************************************************************
//

.global-nav-logo {
  color: var(--global-nav-logo-color, #cbcbcb);
  font-weight: bold;
}

.global-nav-logo {
  &:hover, &:focus {
    color: var(--global-nav-logo-color-active, white);
  }
}

.global-nav-links a,
.global-nav-toggle {
  color: var(--global-nav-text-color, #cbcbcb);
}

.global-nav-links a,
.global-nav-toggle {
  &:hover,
  &:focus {
    color: var(--global-nav-text-color-active, white);
  }
}

.global-nav-links a {
  &:hover,
  &:focus {
    border-color: var(--global-nav-text-color-active, white) !important;
  }
}

// Hide the toggle-related elements. The checkbox forever, the label until we
// need it.
.global-nav-toggle,
#global-nav-toggle-checkbox {
  display: none;
}

.global-nav-toggle {
  position: absolute;
  left: 0.5em + 0.3em;
  line-height: 2.3;
  top: 0.3em;
  cursor: pointer;
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

// TODO: Find a better breakpoint than this random one.
@media (max-width: 40em) {
  // Switch to a vertical navigation layout.
  .global-nav,
  .global-nav-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .global-nav-links a {
    // Move the border to the left side and get rid of the margins to the sides
    // that spaced out items when layed out horizontally.
    border-top: none;
    border-left: 0.3em solid transparent;
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0;
    padding-left: 0.5em;
  }

  // Hide the menu links by default.
  .global-nav-links {
    display: none;
  }

  // Show the menu links when the checkbox/label has been toggled.
  #global-nav-toggle-checkbox:checked ~ .global-nav-links {
    display: flex;
  }

  #global-nav-toggle-checkbox:checked ~ .global-nav-toggle {
    color: var(--global-nav-text-color-active, white);
  }

  .global-nav-logo {
    align-self: center;
    flex-grow: 1;
    justify-content: center;
  }

  // Show the menu toggle icon
  .global-nav-toggle {
    display: block;
  }
}
