<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {# There is always enough info for these. #}
  <meta property="og:url" content="https://arrak.is{{ page.url }}">
  <link rel="canonical" href="https://arrak.is{{ page.url }}">
  <meta property="og:site_name" content="arrak.is">
  <meta property="twitter:site" content="@ALynnkToThePast">

  {# For the rest we need to check if the property is set. #}
  {% if title %}
    <title>{{ title }} | arrak.is</title>
    <meta property="og:title" content="{{ title }}">
  {% endif %}

  {% if opengraph.type %}
    <meta property="og:type" content="{{ opengraph.type }}">
  {% endif %}

  {% if opengraph.image %}
    <meta property="og:image" content="https://arrak.is{{ opengraph.image }}">
  {% endif %}

  {% if description %}
    <meta property="og:description" content="{{ description }}">
    <meta name="description" content="{{ description }}">
  {% endif %}

  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/global-nav-{{ globalnav.theme }}.css">

  {% block additional_head_content %}
  {% endblock %}
</head>
<body>
  <nav class="global-nav">
    <a href="/" class="global-nav-logo">arrak·is</a>
    <label for="global-nav-toggle-checkbox" class="global-nav-toggle">☰</label>
    <input type='checkbox' id='global-nav-toggle-checkbox'/>
    <ul class="global-nav-links">
      <li><a href="/" class="{% if globalnav.category == 'home' %}global-nav-enabled{% endif %}">Home</a></li>
      <li><a href="/x/" class="{% if globalnav.category == 'weird' %}global-nav-enabled{% endif %}">Weird</a></li>
      <li><a href="/about/" class="{% if globalnav.category == 'about' %}global-nav-enabled{% endif %}">About</a></li>
    </ul>
  </nav>
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
