---
opengraph:
  # Default to website, the most general og:type
  type: website
  # Default to using the root image
  image: /og-image.png
---
{% extends "_base.njk" %}
{% block content %}
{{ content | safe }}
{% endblock %}
