---
layout: base
theme: note
opengraph:
  type: article
  # Default to using the root image
  image: /og-image.png
---
<article>
  <header>
    {% if subtitle %}
    <p class="subtitle">{{ subtitle }}</p>
    {% endif %}
    <h1 class="title">{{ title }}</h1>
  </header>
  {{ content | safe }}
</article>
