/*!
 * SPDX-License-Identifier: 0BSD
 * regulate.css - opinionated extension of normalize.css and sanitize.css
 */

@import url("@csstools/normalize.css");

/*******************************************************************************
 * Document
 */

/* Add border box sizing everywhere */
*,
::before,
::after {
  box-sizing: border-box;
}

/* Add text decoration and vertical alignment inheritance. */
::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/* Expand body to entire viewport and remove padding & margins. */
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

/*******************************************************************************
 * Block elements
 */

/* Change the alignment on media elements */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

/* No (ugly) border on iframe. */
iframe {
  border-style: solid;
}

/* Change SVG fill color to match the text color */
svg:not([fill]) {
  fill: currentColor;
}

/* Fluid media by default. */
img,
video {
  max-width: 100%;
  height: auto;
}

/* Collapse table borders */
table {
  border-collapse: collapse;
}

/***
 * Forms
*/

/* Only allow vertical resizing. */
textarea {
  resize: vertical;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/*******************************************************************************
 * Accessibility
 */

/* Match cursor to ARIA attributes */

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

/* Change the display on visually hidden accessible elements */

[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/*******************************************************************************
 * Typography
 */

 :root {
  --font-family-system-emoji:
    /* macOS emoji */ "Apple Color Emoji",
    /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol",
    /* Linux emoji */ "Noto Color Emoji";

  --font-family-system-ui:
    system-ui,
    /* macOS 10.11-10.12 */ -apple-system,
    /* Windows 6+ */ "Segoe UI",
    /* Android 4+ */ "Roboto",
    /* Ubuntu 10.10+ */ "Ubuntu",
    /* Gnome 3+ */ "Cantarell",
    /* KDE Plasma 5+ */ "Noto Sans",
    /* fallback */ sans-serif,
    var(--font-family-system-emoji);

  --font-family-system-mono:
    /* macOS 10.10+ */ "Menlo",
    /* Windows 6+ */ "Consolas",
    /* Android 4+ */ "Roboto Mono",
    /* Ubuntu 10.10+ */ "Ubuntu Monospace",
    /* KDE Plasma 5+ */ "Noto Mono",
    /* KDE Plasma 4+ */ "Oxygen Mono",
    /* Linux/OpenOffice fallback */ "Liberation Mono",
    /* fallback */ monospace,
    var(--font-family-system-emoji);

  --font-family-safe-serif:
    Georgia,
    Cambria,
    "Times New Roman",
    Times,
    serif;
}

/* Set regular text to the system UI font. */
:root {
  font-family: var(--font-body, --font-family-system-ui);
}

/* Set monospace font to the system monospace font. */
code,
kbd,
samp,
pre {
  font-size: var(--font-mono-size, 1rem);
  font-family: var(--font-mono, --font-family-system-mono);
}

/* Make links match the surrounding text style. */
a,
a:hover,
a:focus,
a:visited {
  color: currentColor;
}

/*******************************************************************************
 * Borders
 */

/* Add a border to all elements with a width of 0. Makes it easier to add
   borders to elements. (Idea from Tailwind.) */
*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

img {
  border-style: solid;
}
