// SPDX-License-Identifier: CC0-1.0
// Written 2019 Lynn Kirby

@import "base/_normalize";
@import "base/_sanitize";
@import "base/_typography";
@import "base/_global-nav";

// Hack used to prevent CSS transitions from running on page load. Some browser
// bugs, I guess. Attach .preload to <body> then remove it on window load.
.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

// Remove default margin and padding from figures
figure {
  margin: 0;
  padding: 0;
}

// Shell stuff
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

