@font-face {
  font-family: "Less Perfect DOS VGA";
  src: url("/assets/fonts/perfect-dos-vga/LessPerfectDOSVGA.ttf");
}

:root {
  --global-nav-background: transparent;
  --global-nav-font-family: "Less Perfect DOS VGA", monospace;
  --global-nav-font-size: 16px;
  --global-nav-text-color: #cbcbcb;
  --global-nav-logo-color: #cbcbcb;
  --global-nav-text-color-active: #41FF00;
  --global-nav-logo-color-active: #41FF00;
  background: black;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #41FF00;
  font-family: "Less Perfect DOS VGA", monospace;
}

pre {
  line-height: 1;
  color: #41FF00;
  font-family: "Less Perfect DOS VGA", monospace;
  font-size: 16px;
}
