$text: #cbcbcb;
$active: white;

:root {
  --global-nav-background: transparent;
  --global-nav-text-color: #{$text};
  --global-nav-text-color-active: #{$active};
  --global-nav-logo-color: #{$text};
  --global-nav-logo-color-active: hotpink;
  //--global-nav-font-family

  background: black;
  color: #{$active};
}
