doctype html
html(lang="en-CA")
  head
    meta(charset="utf-8")
    title Ye soldiers of freedom, then strike, while strike ye may
    meta(name="viewport", content="width=device-width, initial-scale=1")

    //- Twitter and OpenGraph garbage
    meta(property="og:title", content="Ye soldiers of freedom, then strike, while strike ye may")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://arrak.is/x/1/")
    link(rel="canonical", content="https://arrak.is/x/1/")
    meta(property="og:image", content="https://arrak.is/x/1/og-image.jpg")
    meta(property="og:description", content="I am quite certain that the crimes of this guilty land will never be purged away but with blood.")
    meta(name="description", content="I am quite certain that the crimes of this guilty land will never be purged away but with blood.")
    meta(property="og:site_name", content="arrak.is")
    meta(property="twitter:site", content="@ALynnkToThePast")

    style.
      html, body {
        width: 100%;
        height: 100%
      }

      body {
        margin: 0;
        padding: 0;
        align-items: center;
        display: flex;
        justify-content: center;
        background: black;
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }
  body
    img(src="john-brown.png",
    title="A meme image of John Brown",
    alt="A low-resolution reverse monochrome image of John Brown with the "
      + "words: BORN TO RAID / SOUTH IS A FUCK / 鬼神 Free Em All 1859 / I am "
      + "john brown / 410,747,864,530 DEAD CONFEDERATES")
