---
permalink: .well-known/host-meta
excludeFromSitemap: true
headers:
  Content-Type: "application/xrd+xml; charset=utf-8"
---
<?xml version="1.0" encoding="UTF-8"?>
<XRD xmlns="http://docs.oasis-open.org/ns/xri/xrd-1.0">
  <Link rel="lrdd" type="application/json" template="https://arrak.is/.well-known/webfinger?resource={uri}" />
</XRD>
