// SPDX-License-Identifier: CC0-1.0
// Written 2019 Lynn Kirby

@import "_typography-vars";

/*
:root {
  font-family: $font-family-sans;
}

code,
kbd,
samp,
pre {
  font-family: $font-family-mono;
}
*/

.sans {
  font-family: $font-family-sans;
}

.serif {
  font-family: $font-family-serif;
}

.mono {
  font-family: $font-family-mono;
}
