---
title: Lynn Kirby
description: Lynn's corner of the information superhighway.
preload:
  - /assets/under-construction.gif
  - /styles/base.css
theme: black-pink
globalnav:
  category: home
---
{% extends "_base.njk" %}

{% block additional_head_content %}
{# JSON-LD structured data #}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Lynn Kirby",
    "gender": "🏴",
    "url": "https://arrak.is",
    "sameAs": [
      "https://twitter.com/ALynnkToThePast"
    ]
  }
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Brand",
    "url": "https://arrak.is",
    "logo": "https://arrak.is/og-image.jpg"
  }
</script>

{# Favicons, etc. #}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="apple-mobile-web-app-title" content="arrak.is">
<meta name="application-name" content="arrak.is">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<style>
  body {
    background: black;
    font-size: 20px;
  }

  .content {
    color: hotpink;
    align-self: center;
    padding: 1em;
    max-width: 40em;
  }

  .content a {
    text-decoration: none;
    color: hotpink;
    border-bottom: 1px dotted currentColor;
  }

  .content a:hover,
  .content a:focus {
    color: red;
  }

  .content {
    text-align: center;
  }

  .content img {
    max-width: 100%;
  }
</style>
{% endblock %}

{% block content %}
<header>
  <h1><a href="about">Lynn</a>'s corner of the<br><em>information superhighway</em></h1>
  <img
    src="assets/under-construction.gif"
    title="under construction image"
    alt="Bart Simpson stands beside a sign labeled 'this site under construction' and is saying 'Don't worry, it's gonna be cool... Homer's on the job, man! With Homer Simpson using a jackhammer dangerously in the background"
  >
</header>
{% endblock %}
