doctype html
html(prefix="og: http://ogp.me/ns#", lang="en-CA")
  head
    meta(charset="utf-8")
    title Lynn Kirby | arrak.is
    meta(name="viewport", content="width=device-width, initial-scale=1")

    //- Twitter and OpenGraph garbage
    meta(property="og:title", content="Lynn Kirby | arrak.is")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://arrak.is")
    link(rel="canonical", content="https://arrak.is")
    meta(property="og:image", content="https://arrak.is/og-image.jpg")
    meta(property="og:description", content="Lynn's corner of the information superhighway.")
    meta(name="description", content="Lynn's corner of the information superhighway.")
    meta(property="og:site_name", content="arrak.is")
    meta(property="twitter:site", content="@ALynnkToThePast")

    //-  JSON-LD structured data
    script(type="application/ld+json").
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Lynn Kirby",
        "gender": "🏴",
        "url": "https://arrak.is",
        "sameAs": [
          "https://twitter.com/ALynnkToThePast"
        ]
      }
    script(type="application/ld+json").
      {
        "@context": "https://schema.org",
        "@type": "Brand",
        "url": "https://arrak.is",
        "logo": "https://arrak.is/og-image.jpg"
      }

    //- Favicons, etc.
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/site.webmanifest")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="apple-mobile-web-app-title", content="arrak.is")
    meta(name="application-name", content="arrak.is")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")

    style.
      html, body {
        margin: 0;
        padding: 0;
      }

      body {
        background: black;
        color: hotpink;
        max-width: 40em;
        font-size: 20px;
        margin: 0 auto;
        padding: 1em;
        font-family:
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          "Roboto",
          "Helvetica Neue", Arial, sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      }

      h1 {
        text-align: center;
      }

      #page-list tr td:first-child {
        color: grey;
        padding-right: 1em;
      }

      a {
        color: hotpink;
        text-decoration: none;
      }

      a:hover {
        color: red;
        border-bottom: 1px dotted red;
      }

      header {
        text-align: center;
      }

      img {
        max-width: 100%
      }

  body
    header
      img(src="assets/under-construction.gif", title="under construction image",
      alt="Bart Simpson stands beside a sign labeled 'this site under "
        + "construction' and is saying 'Don't worry, it's gonna be cool... "
        + "Homer's on the job, man! With Homer Simpson using a jackhammer "
        + "dangerously in the background.")
      h1 Lynn's corner of the<br>
        em information superhighway
    table#page-list
      tr
        td 2019-03-30
        td
          a(href="x/1/") Ye soldiers of freedom, then strike, while strike ye may
      tr
        td 20XX-??-??
        td
          a(href="x/0/") Welcome to the machine
