<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Basic meta -->
  <title>Lynn Kirby | arrak.is</title>
  <link rel="canonical" href="https://arrak.is">
  <meta name="description" content="Lynn Kirby's homepage">

  <!-- OpenGraph meta -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Lynn Kirby">
  <meta property="og:image" content="https://arrak.is/avatar.png">
  <meta property="og:url" content="https://arrak.is">
  <meta property="og:description" content="Lynn Kirby's homepage">
  <meta property="og:site_name" content="arrak.is">
  <meta property="twitter:site" content="@ALynnkToThePast">

  <!-- JSON-LD meta -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Lynn Kirby",
      "gender": "🏴",
      "url": "https://arrak.is",
      "sameAs": [
        "https://twitter.com/ALynnkToThePast",
        "https://github.com/LynnKirby",
        "https://radical.town/@lynn"
      ]
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Brand",
      "url": "https://arrak.is",
      "logo": "https://arrak.is/assets/logo.png"
    }
  </script>

  <!-- Favicons, etc. -->
  {% include "favicons.generated.html" %}

  <!-- Styles -->
  <link rel="stylesheet" href="/assets/style/main.css">
</head>

<body class="layout-center-column flex flex-column f-sans pa2">
  <header class="flex f-serif f-lh1 cursor-default mb3 mt3">
    <div class="order-1 text-shadow">
      <h1 class="ma0 mb1">Hi, I'm Lynn!</h1>
      <div class="f2">I make weird and sometimes useful things.</div>
    </div>
    <img src="/assets/image/header-emoji/regular-lynn.svg" class="order-0 mr3 logo">
  </header>
  <main class="flex-auto">
    <section>
      <div class="flex justify-between">
        {% for item in elsewhere %}
        <a class="ElsewhereButton ElsewhereButton--{{ item.color }}" href="{{ item.href }}" title="{{ item.title }}" rel="{{ item.rel }}">
          <i class="ElsewhereButton-icon">{% icon item.icon %}</i>
          {{ item.text }}
        </a>
        {% endfor %}
      </div>
    </section>
    {% for sectionId in projectSectionOrder %}
    {% set section = projects[sectionId] %}
    <section>
      <h2 class="f-serif text-shadow border-bottom-rainbow">{{ section.title }}</h2>
      {% for project in section.items %}
      <div class="Project">
        <img src="/assets/image/project-image/{{ project.preview }}" class="Project-preview">
        <h3 class="Project-title">{{ project.title }}</h3>
        <time class="Project-date" datetime="{{ project.date | htmlDate }}">{{ project.date | readableDate }}</time>
        <div class="Project-description">{{ project.description }}</div>
        <div class="Project-links">
          {% for link in project.links %}
          <i class="icon-link"></i><a href="{{ link.href }}">{{ link.text }}</a>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </section>
    {% endfor %}
    <section>
      <h2 class="f-serif text-shadow border-bottom-rainbow">Weird things</h2>
      {% for post in collections.weird | reverse %}
      <div class="mb3">
        <i class="icon-star tertiary"></i>
        <a href="{{ post.url }}" class="ma0 f4 fw400 ml1 mr1">{{ post.data.title }}</a>
        <time datetime="{{ post.date | htmlDate }}" class="tertiary">{{ post.date | readableDate }}</time>
      </div>
      {% endfor %}
    </section>
  </main>
  <footer>
    <div class="flex justify-between f5 mb2">
      <div>
        <a href="/license">anticopyright 2019 Lynn Kirby</a>
      </div>
      <div>
        <a href="https://github.com/LynnKirby/arrak.is/blob/master/{{ page.inputPath }}">edit me on github</a>
      </div>
    </div>
    <iframe src="https://cyberqueer.netlify.com/embed" class="WebringBanner" id="webring-banner"></iframe>
  </footer>
  <script src="/assets/script/main.js"></script>
</body>

</html>
