---
layout: note
title: Notes
description: Short ideas and explanations
theme: note
globalnav:
  category: note
---
<p>
  A collection of ideas and rough thoughts, mostly written
  <span title="begone thought!">as a way to clear my mind</span>.
</p>
<ul class="note-index">
  {% for post in collections.note | reverse %}
  <li>
    <span class="note-index-date">{{ post.date | htmlDateString }} » </span>
    <a href="{{ post.url }}" class="note-index-title">{{ post.data.title }}</a>
  </li>
  {% endfor %}
</ul>
