// SPDX-License-Identifier: CC0-1.0
// Written 2019 Lynn Kirby
//
// Font stacks based on sanitize.css v10

$font-family-emoji:
  /* macOS emoji */ "Apple Color Emoji",
  /* Windows emoji */ "Segoe UI Emoji",
  /* Windows emoji */ "Segoe UI Symbol",
  /* Linux emoji */ "Noto Color Emoji"
  !default;

// Default (sans-serif) user interface font
$font-family-sans:
  system-ui,
  /* macOS 10.11-10.12 */ -apple-system,
  /* Windows 6+ */ "Segoe UI",
  /* Android 4+ */ "Roboto",
  /* Ubuntu 10.10+ */ "Ubuntu",
  /* Gnome 3+ */ "Cantarell",
  /* KDE Plasma 5+ */ "Noto Sans",
  /* fallback */ sans-serif,
  $font-family-emoji
  !default;

// Serif font found nearly everywhere
$font-family-serif:
  "Georgia",
  "Times New Roman",
  "Times",
  /* fallback */ serif,
  $font-family-emoji,
  !default;

// Default monospace user interface font
$font-family-mono:
  /* macOS 10.10+ */ "Menlo",
  /* Windows 6+ */ "Consolas",
  /* Android 4+ */ "Roboto Mono",
  /* Ubuntu 10.10+ */ "Ubuntu Monospace",
  /* KDE Plasma 5+ */ "Noto Mono",
  /* KDE Plasma 4+ */ "Oxygen Mono",
  /* Linux/OpenOffice fallback */ "Liberation Mono",
  /* fallback */ monospace,
  $font-family-emoji
  !default;
